<div class="starter-template">
  <h1>Join and Follow People</h1>
  <p class="lead">It's free and will always be, sign up now and enjoy a new social experience</p>
</div>

<div class="col-md-8 col-md-offset-4">
  <a href="/signup" class="btn btn-primary btn-lg">Sign Up</a>

  <a href="/login" class="btn btn-primary btn-lg">Log In</a>
</div>